---
import LayoutV2 from '../layouts/LayoutV2.astro';
import HeaderV2 from '../components/v2/HeaderV2.astro';
import HeroV2 from '../components/v2/HeroV2.astro';
import TrustBarV2 from '../components/v2/TrustBarV2.astro';
import ServicesV2 from '../components/v2/ServicesV2.astro';
import SolarHighlightV2 from '../components/v2/SolarHighlightV2.astro';
import WhyUsV2 from '../components/v2/WhyUsV2.astro';
import ProcessV2 from '../components/v2/ProcessV2.astro';
import TestimonialsV2 from '../components/v2/TestimonialsV2.astro';
import PropertyManagersV2 from '../components/v2/PropertyManagersV2.astro';
import CtaBannerV2 from '../components/v2/CtaBannerV2.astro';
import FAQSectionV2 from '../components/v2/FAQSectionV2.astro';
import FooterV2 from '../components/v2/FooterV2.astro';
import FloatingV2 from '../components/v2/FloatingV2.astro';
import '../styles/v2.css';
---
<LayoutV2 canonicalUrl="https://mimsistemas.com/" robots="index, follow">
  <HeaderV2 />
  <main id="main-content">
    <HeroV2 />
    <TrustBarV2 />
    <ServicesV2 />
    <SolarHighlightV2 />
    <WhyUsV2 />
    <ProcessV2 />
    <TestimonialsV2 />
    <PropertyManagersV2 />
    <CtaBannerV2 />
    <FAQSectionV2 />
  </main>
  <FooterV2 />
  <FloatingV2 />
</LayoutV2>
